<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<% provide(:title, "Home") %>
<!--Item from shop collection-->
<div id="collection_box">
  <h1 id="collection_heading">Items</h1>
  <div class="collection_container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
        <div id="shopCollectionCarousel" data-ride="carousel" class="carousel-fade" data-interval="false">
          <div class="carousel-inner-item-collection carousel-inner" role="listbox">
            <div class="btnSaveToList carousel-caption">
              <a class="right carousel-control" href="#shopCollectionCarousel" role="button" data-slide="next">
                <div class="button_img">
                  <%= button_to savedToList_static_pages_path, :class=> "changeImg" do %>
                    <i id="buttonSave" class="glyphicon glyphicon-plus-sign"></i>
                  <% end %>
                </div>
              </a>
            </div>
            <div class="selection_to_save item active">
              <%= image_tag(@collectionURLS.first, class: "currImg img-responsive center-block",
                            :alt=>@collectionURLS.first) %>
              <div class="collection_caption_tgt carousel-caption d-none d-md-block">
                <div class="item_title"><%= Image.where(url_name: @collectionURLS.first).pluck("title").first %></div>
                <div class="item_caption"><%= Image.where(url_name: @collectionURLS.first).pluck("caption").first %></div>
                <div class="item_price"><%= Image.where(url_name: @collectionURLS.first).pluck("price").first %></div>
              </div>
            </div>
            <% @collectionURLS.drop(1).each do |item| %>
              <div class="selection_to_save item">
                <%= image_tag(item, class: "currImg img-responsive center-block", :alt=>item) %>
                <div class="collection_caption_tgt carousel-caption d-none d-md-block">
                  <div class="item_title"><%= Image.where(url_name: item).pluck("title").first %></div>
                  <div class="item_caption"><%= Image.where(url_name: item).pluck("caption").first %></div>
                  <div class="item_price"><%= Image.where(url_name: item).pluck("price").first %></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Item from popular-->
<div class="popular_container_box" id="collection_box">
  <h1 id="popular_heading">Popular</h1>
  <div class="popular_container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
        <div id="shopPopularCarousel" class="carousel slide multi-item-carousel
            carousel-fade" data-type="multi" data-interval="false" data-ride="carousel">
          <div class="carousel-inner">
            <div class="popular_items item active">
              <div class="col-xs-4 ">
                <%= image_tag(@popularURLS.first, class: "popular_image_in_frame img-responsive center-block",
                              :alt=>@popularURLS.first) %>
                <div class="item_title"><%= Image.where(url_name: @popularURLS.first).pluck("title").first %></div>
                <div class="item_price"><%= Image.where(url_name: @popularURLS.first).pluck("price").first %></div>
              </div>
            </div>
            <% @popularURLS.drop(1).each do |item| %>
              <div class="popular_items item">
                <div class="col-xs-4">
                  <%= image_tag(item, class: "popular_image_in_frame img-responsive center-block", :alt=>item) %>
                  <div class="item_title"><%= Image.where(url_name: item).pluck("title").first %></div>
                  <div class="item_price"><%= Image.where(url_name: item).pluck("price").first %></div>
                </div>
              </div>
            <% end %>
          </div>

          <a class="left carousel-control" href="#shopPopularCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#shopPopularCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="collection_box">
  <div class="collection_groups_box">
    <div class="collection_heading_combo" style="clear: both">
      <h1 id="collection_groups_heading">Collection</h1>
      <a href="collection_index">
        <h3 id="seeAllButton">See all</h3>
      </a>
    </div>
    <hr/>
    <div class="collection_container">
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-centered">
          <div class="col-xs-3 ">
            <a href="women">
              <%= image_tag(@femaleURLS.first, class: "img-responsive center-block", :alt=>@femaleURLS.first) %>
            </a>
            <div class="collect_caption">Women</div>
          </div>
          <div class="col-xs-3 ">
            <a href="men">
              <%= image_tag(@menURLS.first, class: "img-responsive center-block", :alt=>@menURLS.first) %>
            </a>
            <div class="collect_caption">Men</div>
          </div>
          <div class="col-xs-3 ">
            <a href="kids">
              <%= image_tag(@kidsURLS.first, class: "img-responsive center-block", :alt=>@kidsURLS.first) %>
            </a>
            <div class="collect_caption">Kids</div>
          </div>
          <div class="col-xs-3 ">
            <a href="new_arrivals">
              <%= image_tag(@newArrivalsURLS.first, class: "img-responsive center-block", :alt=>@newArrivalsURLS.first) %>
            </a>
            <div class="collect_caption">New Arrivals</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Newsletter-->
<div class="newsletter">
  <h1 id="newsletter_heading">Newsletter</h1>
  <h4 id="newsletter_caption">Signup with our newsletter</h4>
  <p><%= @user.name %></p>
  <div class="newsletter_container">

  </div>
</div>

<script>
  $('#buttonSave').on("click", function(e){
      e.preventDefault();
      $.ajax("/static_pages/savedToList")
  });

  // Code borrowed from multiple Codepen.io users for multiple images on
  // a carousel frame
  // Instantiate the Bootstrap carousel
  $('.multi-item-carousel').carousel({
      interval: false
  });

  $('.carousel[data-type="multi"] .item').each(function() {
      var next = $(this).next();
      if (!next.length) {
          next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));

      for (var i = 0; i < 1; i++) {
          next = next.next();
          if (!next.length) {
              next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
      }
  });
</script>