<% provide(:title, "Collections") %>
<h1>Collections</h1>
<p>Find me in app/views/collection/collection_index.html.erb</p>
<p><%= link_to "Go to women", "women", class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Go to men", "men", class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Go to kids", "kids", class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Go to new arrivals", "new_arrivals", class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Return to home", "home", class: "btn btn-lg btn-primary" %></p>