<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url_name %>
    <%= form.text_field :url_name %>
  </div>

  <div class="field">
    <%= form.label :human_type %>
    <%= form.text_field :human_type %>
  </div>

  <div class="field">
    <%= form.label :popular %>
    <%= form.number_field :popular %>
  </div>

  <div class="field">
    <%= form.label :new_arrival %>
    <%= form.check_box :new_arrival %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
