<p id="notice"><%= notice %></p>

<p>
  <strong>Url name:</strong>
  <%= @image.url_name %>
</p>

<p>
  <strong>Human type:</strong>
  <%= @image.human_type %>
</p>

<p>
  <strong>Popular:</strong>
  <%= @image.popular %>
</p>

<p>
  <strong>New arrival:</strong>
  <%= @image.new_arrival %>
</p>

<p>
  <strong>Saved to list:</strong>
  <%= @image.saved_to_list %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
